{{#> layout }}
  <nav class="crumbs">
    <ol>
      <li class="crumb"><a href="/">Home</a></li>
      <li class="crumb"><a href="/jokes">Jokes</a></li>
      <li class="crumb">New</li>
    </ol>
  </nav>
  <form action="" method="post">
    <div>
      <label for="joke-input">New Joke</label>
      <textarea
        id="joke-input"
        spellcheck="true"
        class="joke nes-textarea"
        name="content"
      >{{joke}}</textarea>
    </div>
    <div class="button-group">
      <a href="/jokes/new" class="nes-btn">Another one</a>
      <button type="submit" class="nes-btn is-primary">Save</button>
    </div>
  </form>
{{/layout}}