{{#> layout }}
  <p><a href="/">Home</a> / <a href="/jokes">Jokes</a>  / New</p>
  <form action="" method="post">
    <div>
      <textarea spellcheck="true" class="joke" name="content">{{joke}}</textarea>
    </div>

    <div>
      <button type="submit">Save</button>
      <a href="/jokes/new">Another one</a>
    </div>
  </form>
{{/layout}}