{{#> layout }}
  <nav class="crumbs">
    <ol>
      <li class="crumb"><a href="/">Home</a></li>
      <li class="crumb">Jokes</li>
    </ol>
  </nav>
  <div class="button-group">
    <a href="/jokes/new" class="nes-btn is-primary">Get new one</a>
  </div>
  <h2>Jokes:</h2>
  <p class="content">
  <div class="nes-table-responsive">
    <table class="nes-table is-bordered is-centered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Content</th>
        <th>Created</th>
      </tr>
      </thead>
      <tbody>
      {{#each jokes}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.content}}</td>
          <td>{{this.createdAt}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/layout}}